spring:
  datasource:
    username: postgres
    password: postgres
    url: jdbc:h2:file:./postgres;DB_CLOSE_ON_EXIT=FALSE;MODE=PostgreSQL;DB_CLOSE_DELAY=-1;INIT=CREATE SCHEMA IF NOT EXISTS public\;
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        default_schema: public
  liquibase:
    default-schema: public
    enabled: false
  output.ansi.enabled: always


---
spring:
  config.activate.on-profil e: postgres
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres

